dill==0.2.9
ipykernel==5.1.0
ipython-genutils==0.2.0
ipython==7.4.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-core==4.4.0
jupyter==1.0.0
keras-applications==1.0.7
keras-preprocessing==1.0.9
keras==2.2.4
ktext==0.34
numpy==1.16.2
scikit-learn==0.20.3
pandas==0.24.2
tensorflow==1.12.0
